* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #374151;
  word-break: keep-all;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  max-width: 1920px;
  background-color: #ffffff;
}

main {
  margin-top: 70px;
}

footer {
  background-color: #111322;
  color: #676767;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px 108px 104px;
  font-size: 16px;
}

#footerMenu {
  display: flex;
  gap: 30px;
  color: #cfcfcf;
}

#socialMedia {
  display: flex;
  gap: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1280px;
  /* max-width: 1920px; */
  margin: 0 auto;
  width: 100%;
  padding: 0 100px;
}

.banner {
  background-color: #cfe5ff;
  padding-top: 183px;
  padding-bottom: 153px;
  height: 540px;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 50%;
}

#hero {
  background-image: url("images/home/hero-image.png");
}

#bottomBanner {
  background-image: url("images/home/bottom-banner-image.png");
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signinButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  /* padding: 14.5px 43px; */
  width: 128px;
  height: 48px;
}

.pill-button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 9999px;
  /* padding: 16px 125px; */
  width: 355px;
  height: 60px;
  margin-top: 32px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 64px;
}

.feature-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  margin-top: 24px;
}

.align-right {
  text-align: right;
}
